// @use 'reset' as *;
// // @use 'style' as *;

// .nav{
//     color: reset.$color-reset;
//     height: auto;
//     width: auto 0;
// }

@use 'reset';

.nav {
    color: reset.$color-reset;
    height: auto;
    width: auto 0;
}
