*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    
}